/* typography */
.noto-serif-font{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f8ff;
}

/* nav section styles */
nav{
    max-width: 1140px;
    height: 71px;
    margin: 1.8rem auto;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 1.8rem auto;
    border: 2px solid red;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
#cart-icon{
    gap: 0.6rem;
}
.nav-ul{
    display: flex;
    gap:3rem;
    padding: 1.1rem;
    align-items: center;
}

/* Banner section styles */
.banner-container{
    display: flex;
    align-items: center;
    max-width: 1140px;
    height: 470px;
    margin: 7.5rem auto;
    border: 2px solid peru;
}
.banner-title-text{
    font-size:4rem ;
    font-weight: 700;
}
#fresh-flower{
    color: #E95A08;
}
.banner-sub-title{
    font-size: 1.3rem;
}
.banner-img{
    width: 570px;
    height: 355px;
}

/* MAIN */

/* Our Plant section style */
.our-plants-title{
    max-width: 1140px;
    height: auto;
    border: 2px solid blue;
    margin: 0.5rem auto;
}
.our-plants-tittle-text{
    text-align: center;
    font-size:3rem;
    font-weight: 700;
}
#plants-our{
    color:  #E95A08;
}
.our-plants-subtitle{
    font-size: 1.3rem;
}

/* Flower Card section styles */

.card-container{
    max-width: 1140px;
    margin:3.1rem auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1.8rem;
    column-gap:1.2rem ;

}
.card-subcontainer{
    border: 1px solid brown;
    max-width: 270px;
    height: 485px;
}
.card-image{
    width: 100%;
    height: 320px;
}
.card-title{
    font-size:1.3rem ;
    font-weight: 500;
    text-align: center;
}
.card-price{
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
}
.card-btn{
    width:270px ;
    height:50px ;
    background:#E95A08 ;
    color:#FFFFFF ;
}




















/* responsive for mobile device */
@media screen and (max-width:576px) {
    
    /* navbar responsive */
    .nav-li{
        display: none;
    }
    nav{
    max-width: 361px;
    /* height: 38px; */
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    /* padding: 1.8rem auto; */
    border: 1px solid red;
    }

    /* Banner section responsive */
    .banner-container{
    flex-direction: column-reverse;
    /* max-width:360px; */
    max-width:360px;
    border: 2px solid peru;
    height: auto;
    margin-top: 1.7rem;
    margin-bottom: 1rem;
    }

    .banner-title{
        max-width: 360px;
        height: 147px;
        gap: 0.8rem;
    }
    .banner-title-text{
    font-size:1.5rem ;
    font-weight: 700;
    }
    .banner-sub-title{
    font-size: 0.8rem;
    }
    .banner-img{
        /* max-width:360px; */
        max-width:360px;
        height: 245px;
    }

    /* our plants section responsive */
    .our-plants-title{
    max-width: 360px;
    height: auto;
    border: 2px solid blue;
    margin: 0.5rem auto;
    }

    /* Flower Card section responsive */
    .card-container{
    max-width: 360px;
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.7rem;
    column-gap:1.2rem ;
    }
    .card-subcontainer{
    border: 1px solid brown;
    max-width: 168px;
    height: 335px;
    }

    .card-image{
    width: 168px;
    height: 190px;
}
.card-title{
    font-size:1rem ;
    font-weight: 500;
    text-align: center;
}
.card-price{
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
}
.card-btn{
    width:168px ;
    height:50px ;
    background:#E95A08 ;
    color:#FFFFFF ;
}



}